{% extends 'base.html.twig' %}

{% block body %}
    <h1>categories list</h1>
    <a href="{{ path( 'categorie_new' )}}">create a new categorie</a>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Slug</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.nom }}</td>
                <td>{{ categorie.slug }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ arrayTree | raw}}

    
{% endblock %}
